<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    div class="controls">
<div class="row">
<div class="col-md-6"><input class="form-control" name="name" placeholder="Your firstname *" required="required" type="text" /></div>

<div class="col-md-6"><input class="form-control" name="surname" placeholder="Your lastname *" required="required" type="text" /></div>

<div class="col-md-6"><input class="form-control" name="email" placeholder="Your email *" required="required" type="text" /></div>

<div class="col-md-6"><input class="form-control" name="phone" placeholder="Your phone" type="text" /></div>


</div>
</head>
<body>

</body>
</html>